{% extends "layout.html" %}

{% block title %}
List
{% endblock %}

{% block content %}
<a href="{% url 'url_o_homepage' %}" class="btn_back"><b>Back</b></a>
<div class="main_home_org">
    <h2 style="color: white; margin-top: 200px;">List of User</h2>
    <table style="margin-top: 50px; color: white;">
        <tr>
            <th>Username</th>
            <th>Fisrt Name</th>
            <th>Last Name</th>
            <th>Gmail</th>
            <th>Age</th>
        </tr>
        {% for i in list %}
        <tr>
            <td>{{i.participant.username}}</td>

            {% if i.participant.first_name != null %}
            <td>{{i.participant.first_name}}</td>
            {% else %}
            <td>ไม่มีข้อมูล</td>
            {% endif %}

            {% if i.participant.last_name != null %}
            <td>{{i.participant.last_name}}</td>
            {% else %}
            <td>ไม่มีข้อมูล</td>
            {% endif %}

            <td>{{i.participant.email}}</td>

            {% if i.participant.userdetail.age != null %}
            <td>{{i.participant.userdetail.age}}</td>
            {% else %}
            <td>ไม่มีข้อมูล</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}