{% extends 'layout.html' %}

{% block title %}Create Activity{% endblock %}

{% block content %}
    <div class="container p-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="card-title">สร้างกิจกรรม</h1>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="id_title" class="form-label">ชื่อกิจกรรม</label>
                        {{ form.title }}
                    </div>

                    <div class="mb-3">
                        <label for="id_close_register_date" class="form-label">กำหนดวันที่ปิดรับลงทะเบียน</label>
                        {{ form.close_register_date }}
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_start_date" class="form-label">กำหนดวันที่เริ่มกิจกรรม</label>
                                {{ form.start_date }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_due_date" class="form-label">กำหนดวันที่สุดท้ายของกิจกรรม</label>
                                {{ form.due_date }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_activity_type" class="form-label">กำหนดประเภทการดำเนินกิจกรรม</label>
                                {{ form.activity_type }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_category" class="form-label">หมวดหมู่ของกิจกรรม</label>
                                {{ form.category }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="mb-3" id="location_container">
                            <label for="id_location" class="form-label">กำหนดสถานที่</label>
                            {{ form.location }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3" id="platform_container">
                            <label for="id_platform" class="form-label">กำหนดแพลตฟอร์ม จัดกิจกรรม</label>
                            {{ form.platform }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id_short_description" class="form-label">คำบรรยายสั้นๆ</label>
                            {{ form.short_description }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id_description" class="form-label">คำบรรยาย</label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id_contact" class="form-label">ข้อมูลติดต่อ</label>
                            {{ form.contact }}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="id_upload_image" class="form-label">อัปโหลดรูปภาพเกี่ยวกับกิจกรรม</label>
                        <input class="form-control" type="file" id="id_upload_image" name="upload_image" multiple />
                        <div class="form-text">อัปโหลดสูงสุด 3 รูป</div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">ส่งคำขอสร้างกิจกรรม</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const activityType = document.getElementById('id_activity_type');
        const platformContainer = document.getElementById('platform_container');
        const locationContainer = document.getElementById('location_container');

        function updateVisibility() {
            const selectedType = activityType.value;
            if (selectedType == 'online') {
                platformContainer.style.display = 'block';
                locationContainer.style.display = 'none';
            } else if (selectedType == 'onsite') {
                platformContainer.style.display = 'none';
                locationContainer.style.display = 'block';
            } else if (selectedType == 'hybrid') {
                platformContainer.style.display = 'block';
                locationContainer.style.display = 'block';
            }else{
                platformContainer.style.display = 'none';
                locationContainer.style.display = 'none';
            }
        }

        activityType.addEventListener('change', updateVisibility);
        updateVisibility();  // Initial check on page load
    });

    const uploadImageInput = document.getElementById('id_upload_image');
    uploadImageInput.addEventListener('change', function() {
        if (uploadImageInput.files.length > 3) {
            alert('คุณสามารถอัปโหลดได้สูงสุดแค่ 3 รูปเท่านั้น');
            uploadImageInput.value = ''; // เคลียร์ไฟล์ที่ถูกเลือก
        }
    });

</script>
{% endblock %}