{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
        display: flex;
    }
</style>

<body>
    <a class="btn_back" style="margin-top: 20px;" href="{% url 'url_profile' %}"><b>Back</b></a>
    <div class="main_changepass">
        <div style="width: 100%; display: flex; justify-content: center;">
            <form method="POST" class="login_form">
                {% csrf_token %}
                <h1 class="changepass_title">Change Password</h1>
                <div class="box_login">
                    <label for="username">Old Password: </label>
                    {{form.old_password|add_class:'formbox'}}
                </div>
                <div class="box_changepass">
                    <label for="password">New Password: </label>
                    {{form.new_password1|add_class:'formbox'}}
                </div>
                <div class="box_changepass">
                    <label for="password">Confirm New Password: </label>
                    {{form.new_password2|add_class:'formbox'}}
                </div>
                <button type="submit" class="btn_login" onclick="return confirm('คุณต้องการแก้ไขรหัสผ่านนี้หรือไม่?');">Submit</button>
                {% if form.errors %}
                <div class="login_error_box" style="margin-top: 20px;">
                    {{form.errors}}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>

</html>