<style>
    .navbar {
        position: fixed;
        z-index: 2;
        width: 100%;
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: space-between;
        background-color: #0f0c29;
        padding: 15px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        user-select: none;
        /* Standard browsers */
        -webkit-user-select: none;
        /* Safari/Chrome */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE/Edge */
    }
    .smallnav2{
        display: flex;
        gap: 15px;
    }
    .btn_nav{
        background-color: #E67E22;
        color: white;
        padding: 7px;
        text-decoration: none;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .btn_nav:hover{
        border-color: white;
        color: black;
    }
</style>
<div class="navbar">
    <div class="smallnav1">
        <a href="/" style="text-decoration: none; color: white;">
            <h4 class="webname">Activity Hub</h4>
        </a>
    </div>
    <div class="smallnav2">
        <div>
            <h5>{{ user.username }}</h5>
        </div>
        <div style="display: flex; gap: 20px;">
            {% if user.is_authenticated %}
            {% if user.role == "Participant" or user.role == "Organizer"%}
            <div>
                <a href="{% url 'url_profile'%}" class="btn_nav"><b>Profile</b></a>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'url_logout' %}" class="btn_nav"><b>logout</b></a>
            </div>
            {% else %}
            <a href="{% url 'url_login' %}" class="btn_nav"><b>Login</b></a>
            {% endif %}
        </div>
    </div>
</div>