{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
        display: flex;
    }
</style>

<body>
    <a href="{% url 'url_p_homepage' %}" class="btn_back" style="margin-top: 20px;"><b>Back</b></a>
    <div class="main_register">
        <form method="POST" class="register_form">
            {% csrf_token %}
            <h1 class="register_title">register</h1>
            <div class="box_register">
                <label for="username">Username:</label>
                {{ form.username|add_class:'formbox' }}
            </div>
            <div class="box_register">
                <label for="">email:</label>
                {{ form.email|add_class:'formbox' }}
            </div>
            <div class="box_register">
                <label for="">Phone:</label>
                {{ form.phone_number|add_class:'formbox' }}
            </div>
            <div class="box_register">
                <label for="">role:</label>
                {{ form.role|add_class:'formbox'}}
            </div>
            <div class="box_register">
                <label for="">Password:</label>
                {{ form.password1|add_class:'formbox' }}
            </div>
            <div class="box_register">
                <label for="">Confirm Password:</label>
                {{ form.password2|add_class:'formbox' }}
            </div>
            <button type="submit" class="btn_register">Submit</button>
            <p style="text-align: center; margin-top: 15px;">Already have an account? <a href="{% url 'url_login' %}">Login</a></p>
            {% if form.errors %}
            <div class="login_error_box">
                {{form.errors}}
            </div>
            {% endif %}
        </form>
    </div>

</body>

</html>