{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="main_register">
        <form method="POST" action="{% url 'url_register' %}">
            {% csrf_token %}
            <h1 class="register_title">register</h1>
            <div class="box_register">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div class="box_register">
                <label for="">email:</label>
                {{ form.email }}
            </div>
            <div class="box_register">
                <label for="">role:</label>
                {{ form.role}}
            </div>
            <div class="box_register">
                <label for="">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="box_register">
                <label for="">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn_register">Submit</button>
            <p>already have account? <a href="{% url 'url_login' %}">login</a></p>
            {{ form.errors }}
        </form>
    </div>

</body>

</html>