{% extends "layout.html" %}

{% block title %}
    Activity
{% endblock %}

{% block content %}
<div class="main_activity">
    <div class="ex2">
        <h2 class="ghost">Title</h2>
        <div class="ghost_ex">
            <button class="btn_register">ลงทะเบียนกิจกรรม</button>
        </div>
    </div>
</div>
<div class="main_activity">
    <div class="activity">
        <div class="big_pic">
            
        </div>
        <div class="box1">
            <div class="border">
                close_register_date
            </div>
            <div class="border">
                <h3>start_date</h3>
            </div>
            <div class="border">
                <h3>due_date</h3>
            </div>
            <div class="border">
                <h3>location</h3>
            </div>
            <div class="border">
                <h3>platform</h3>
            </div>
            <div class="border">
                description
            </div>
            <div class="border">
                contact
            </div>
        </div>
    </div>
</div>
{% endblock %}