{% extends "layout.html" %}

{% block title %}
    Activity
{% endblock %}

{% block content %}
<div class="main_activity">
    <div class="ex2">
        <h2 class="ghost">{{ activity.title }}</h2>
        <div class="ghost_ex">
            <button class="btn_register">ลงทะเบียนกิจกรรม</button>
        </div>
    </div>
</div>
<div class="main_activity">
    <div class="activity">
        <div class="pic_area">
            <div class="pic1">
                <img src="/static/pic/dog.jpg" alt="" class="big_pic">
            </div>
            <div class="pic2">
                <img src="/static/pic/dog.jpg" alt="" class="medium_pic">
            </div>
            <div class="pic3">
                <img src="/static/pic/dog.jpg" alt="" class="medium_pic">
            </div>
        </div>
        <div class="box1">
            <div class="box_content">
                <h5>{{ activity.close_register_date|date:"d M Y H:i" }}</h5>
            </div>
            <div class="box_content">
                <h5>{{ activity.start_date|date:"d M Y H:i" }}</h5>
            </div>
            <div class="box_content">
                <h5>{{ activity.due_date|date:"d M Y H:i" }}</h5>
            </div>

            <!-- activity type -->
            {% if activity.activity_type == 'hybrid' %}
            <div class="box_content">
                <h5>platform</h5>
            </div>
            <div class="box_content">
                <h5>location</h5>
            </div>
            {% elif activity.activity_type == 'online' %}
            <div class="box_content">
                <h5>platform</h5>
            </div>
            {% elif activity.activity_type == 'onsite' %}
            <div class="box_content">
                <h5>location</h5>
            </div>
            {% endif %}

        </div>
        <div class="box2">
            <p>{{ activity.description }}</p>
        </div>
        <div class="box3">
            <p>{{ activity.contact }}</p>
        </div>
    </div>
</div>
{% endblock %}