{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="main_home">
    <div class="ex1">
        <h5 class="ghost">หมวดหมู่กิจกรรม</h5>
    </div>
    <div class="ex2">
        <h5 class="ghost">กิจกรรม</h5>
        <div class="ghost_ex">
            <form action="" class="search_form">
                <input class="searchbar" type="text" placeholder="ค้นหา..">
                <button class="btn_search"><i class="fa fa-search"> ค้นหา</i></button>
            </form>
        </div>
    </div>
</div>
<div class="main_home">
    <div class="categories">
        <a href="">sample</a>
        <a href="">sample</a>
        <a href="">sample</a>
        <a href="">sample</a>
    </div>
    <div class="home">
        {% for i in activity %}
        <a class="block_event" href="{% url 'url_p_activitypage' i.id%}">
            <img src="/static/pic/dog.jpg" alt="" class="small_pic">
            <div class="card_content">
                <p class="title_event border">{{ i.title }}</p>
                <div class="smallbox">
                    <p class="border">{{i.start_date}}</p>
                    <p class="border">{{i.due_date}}</p>
                </div>
                <p class="short_description border">{{i.short_description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}