{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="main_home">
    <div class="ex1">
        <h5 class="ghost">หมวดหมู่กิจกรรม</h5>
    </div>
    <div class="ex2">
        <h5 class="ghost">กิจกรรม</h5>
        <div class="ghost_ex">
            <form action="" class="search_form">
                <input class="searchbar" type="text" placeholder="ค้นหา..">
                <button class="btn_search"><i class="fa fa-search"> ค้นหา</i></button>
            </form>
        </div>
    </div>
</div>
<div class="main_home">
    <div class="categories">
        <!-- <a href="{% url 'url_p_homepage' %}" class="home_category_active">ทั้งหมด</a> -->
        <!-- <button class="home_category_active">ทั้งหมด</button> -->
        <button class="home_category_active" onclick="window.location.href='{% url 'url_p_homepage' %}'">
            ทั้งหมด
        </button>
        
        {% for j in category %}
        <!-- <a href="{% url 'url_p_homepage' %}?category_id={{ j.id }}" class="home_category">{{ j.category_name }}</a> -->
        <button class="home_category" onclick="window.location.href='{% url 'url_p_homepage' %}?category_id={{ j.id }}'">
            {{ j.category_name }}
        </button>
        <!-- <button class="home_category">{{ j.category_name }}</button> -->
        {% endfor %}
    </div>
    <div class="home">
        {% for i in activity %}
        <a class="block_event" href="{% url 'url_p_activitypage' i.id%}">
            {% if i.activityimage_set.all %}
                <!-- แสดงรูปภาพที่เก็บใน media -->
                <img src="{{ i.activityimage_set.first.image_path.url }}" alt="" class="small_pic">
            {% else %}
                <!-- หากไม่มีรูปภาพแสดงรูปภาพสำรอง -->
                <img src="/static/pic/dog.jpg" alt="" class="small_pic">
            {% endif %}
            <div class="card_content">
                <p class="title_event border">{{ i.title }}</p>
                <p class="border"><i class="fa fa-calendar-check-o"></i>: {{i.start_date|date:"d/m/y H:i A"}}</p>
                <p class="border">{{i.category.category_name}}</p>
                <p class="short_description border">{{i.short_description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}