{% extends "layout.html" %}

{% block title %}
Profile_edit
{% endblock %}

{% block content %}
<div class="main_profile">
    <div class="ex3">
        <h2 class="ghost" style="color: white;">แก้ไขข้อมูล</h2>
    </div>
</div>
<div class="main_profile">
    <div class="profile_edit">
        <form method="POST">
            {% csrf_token %}
            <div style="display: flex;">
                <div class="box_edit_user">
                    <h5>ชื่อ :</h5>
                    {{ form2.first_name }}
                </div>
                <div class="box_edit_user">
                    <h5>นามสกุล :</h5>
                    {{ form2.last_name }}
                </div>
            </div>
            <div class="box_edit_user">
                <h5>Email :</h5>
                {{ form2.email }}
            </div>
            <div class="box_edit_user">
                <h5>Phone :</h5>
                {{ form2.phone_number }}
            </div>
            <div class="box_edit_user">
                <h5>เพศ :</h5>
                {{ form1.gender }}
            </div>
            <div style="display: flex;">
                <div class="box_edit_user">
                    <h5>อายุ :</h5>
                    {{ form1.age }}
                </div>
                <div class="box_edit_user">
                    <h5>วันเกิด :</h5>
                    {{ form1.birthday }}
                </div>
            </div>
            <div style="margin-top: 20px; text-align: right;">
                <button type="submit" class="btn_profile" style="margin-right: 10px;"><b>Save Changes</b></button>
                <a href="{% url 'url_profile' user.id%}" class="btn_edit_user" style="padding: 9px;"><b>Cancel</b></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}