{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<a href="{% url 'url_p_homepage' %}" class="btn_back">Back</a>
<div class="main_profile">
    <div class="ex3">
        <h2 class="ghost" style="color: white;">โปรไฟล์ของคุณ</h2>
    </div>
</div>
<div class="main_profile">
    <div class="profile">
        <div style="display: flex; gap: 15px;">
            <div class="pic_box_profile">
                <img src="/static/pic/dog.jpg" alt="" class="profile_pic">
            </div>
            <div style="align-self: end; padding-bottom: 20px;">
                <h3>{{ user.username }}</h3>
                <h6 style="font-size: 12px;">วันที่เข้าร่วม: {{ user.date_joined |date:"d M Y"}}</h6>
            </div>
        </div>
        <div class="profile_category">
            <button onclick="SwapUserDetail()" class="btn_profile">ข้อมูลส่วนตัว</button>
            <button onclick="SwapActivityDetail()" class="btn_profile">กิจกรรมที่ลงทะเบียน</button>
        </div>
    </div>
</div>
<div class="main_profile" id="userDetails">
    <div class="profile_user_content">
        <div class="box1_profile">
            <label for="">ชื่อ</label>
            {% if user.first_name == null %}
            <p>ยังไม่มีข้อมูล</p>
            {% else %}
            {{ user.first_name}}
            {% endif %}
            <label for="">นามสกุล</label>
            {% if user.last_name == null %}
            <p>ยังไม่มีข้อมูล</p>
            {% else %}
            {{ user.last_name}}
            {% endif %}
            <label for="">email</label>
            {{ user.email }}
            <label for="">เบอร์ติดต่อ</label>
            {{ user.phone_number }}
            <label for="">เพศ</label>
            {% if profile.gender == "M" %}
            <p>ชาย</p>
            {% elif profile.gender == "F" %}
            <p>หญิง</p>
            {% elif profile.gender == "O" %}
            <p>LGBT</p>
            {% else %}
            <p>ยังไม่มีข้อมูล</p>
            {% endif %}
            <label for="">อายุ</label>
            {% if profile.age == null %}
            <p>ยังไม่มีข้อมูล</p>
            {% else %}
            {{ profile.age }}
            {% endif %}
            <label for="">วันเกิด</label>
            {% if profile.birthday == null %}
            <p>ยังไม่มีข้อมูล</p>
            {% else %}
            {{ profile.birthday }}
            {% endif %}
        </div>
    </div>
</div>
<div class="main_profile" id="activityDetails" style="display: none;">
    <div class="profile_activity_content">
        <div class="box2_profile">
            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function SwapUserDetail() {
        document.getElementById('userDetails').style.display = 'flex';
        document.getElementById('activityDetails').style.display = 'none';
    }

    function SwapActivityDetail() {
        document.getElementById('userDetails').style.display = 'none';
        document.getElementById('activityDetails').style.display = 'flex';
    }
</script>
{% endblock %}