{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="main_profile">
    <div class="ex3">
        <h2 class="ghost">โปรไฟล์ของคุณ</h2>
    </div>
</div>
<div class="main_profile">
    <div class="profile">
        <div class="profile_category">
            <button>ข้อมูลส่วนตัว</button>
            <button>กิจกรรมที่ลงทะเบียน</button>
        </div>
    </div>
</div>
<div class="main_profile">
    <div class="profile_content">
        <form action="">
            <div class="box1_profile">
                <label for="name">ชื่อ</label>
                <input type="text" class="profile_input">
                <label for="password">นามสกุล</label>
                <input type="text" name="" id="" class="profile_input">
                <label for="password">gmail</label>
                <input type="text" name="" id="" class="profile_input">
                <label for="password">เบอร์ติดต่อ</label>
                <input type="text" name="" id="" class="profile_input">
            </div>
        </form>
    </div>
</div>
<div class="main_profile">
    <div class="profile_content">
        <div class="box1_profile">
            <h1>กิจกรรมของฉัน</h1>
        </div>
    </div>
</div>

{% endblock %}