html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-image: url('pic/earth.jpg');
    background-size: 100%;
}
/* register */
/* login */
/* ---------------------------------------------- */
.main_login, .main_register{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: invert(80%);
}
.main_register{
    width: 30%;
    margin-top: 10%;
}
.register_form{
    width: 80%;
}
.login_title, .register_title{
    text-align: center;
}
.box_login, .box_register{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
}
.btn_login, .btn_register{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    border-width: 1px;
}
.regis_form{
    height: 25px;
}

/* Profile */
/* ---------------------------------------------- */
.main_profile{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.profile{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    padding: 2px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ex3{
    margin-top: 60px;
}
.profile_category{
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-style: solid;
    border-width: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
.profile_content{
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box1_profile{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    justify-content: space-evenly;
}



/* ---------------------------------------------- */
/* navbar */
/* .navbar {
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
}

.smallnav1 {
    margin-left: 20px;
}

.smallnav2 {
    margin-right: 20px;
}

.btn_profile {
    width: fit-content;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: #E67E22;
    border-style: hidden;
}

.btn_profile:hover {
    background-color: #376786;
    cursor: pointer;
    scale: 1.25;
} */

/* p_home */
/* ---------------------------------------------------------------------------- */

/* main content */
.main_home {
    margin-left: 15px;
    margin-right: 35px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.ex1,
.ex2 {
    margin-top: 60px;
}

.ex2 {
    display: flex;
    justify-content: space-between;
}

.ghost,
.ghost_ex {
    width: fit-content;
    position: relative;
    color: black;
    user-select: none; /* Standard browsers */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.ghost {
    top: 20px;
    left: 20px;
}

.ghost_ex {
    height: fit-content;
    top: 85px;
    right: 30px;
    top: 10px;
    right: 20px;
}


.searchbar {
    border-style: hidden;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: 30px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_search {
    background-color: white;
    border-style: hidden;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_search:hover {
    background-color: gray;
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.categories {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.home_category{
    background-color: white;
    border-style: none;
    text-align: left;
    width: fit-content;
}
.home_category_active{
    background-color: white;
    width: fit-content;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
}
.home_category:hover{
    scale: 1.05;
}
.home_category_active:hover{
    scale: 1.05;
}

.home{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block_event {
    overflow: hidden;
    width: 190px;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-decoration: none;
}

.small_pic{
    position: absolute;
    width: 186px;
    height: 296px;
    border-radius: 8px;
}
.card_content {
    padding: 10px;
    color: black;
    position: relative;
    bottom: 100%;
    width: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    height: 100%;
    backdrop-filter: blur(15px);
    user-select: none; /* Standard browsers */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}
.block_event:hover .card_content{
    bottom: 0;
}

.border{
    border-radius: 5px;
    margin: 1px;
    width: 100%;
    text-decoration: none;
    padding: 2px;
    background-color: white;
}

.short_description{
    height: 100px;
}
.smallbox{
    display: flex;
}

/* p_activity */
/* ------------------------------------------------------------------ */
.main_activity {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: grid;
}

.activity {
    min-height: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_regis_activity{
    background-color: white;
    border-style: hidden;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_regis_activity:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}
.pic_area{
    width: 100%;
    height: auto;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 10px;
}

.pic1{
    grid-row: 1/3;
}
.big_pic{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
}
.medium_pic{
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
}




.box1{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.box_content{
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    padding: 5px;
}

.box2{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 30px;
    min-height: 300px;
    text-indent: 80px;
    margin-bottom: 20px;
}

.box3{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px;
    width: 25%;
}