html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
    font-family: 'Kanit', sans-serif;
}

/* login */
/* ---------------------------------------------- */
.main_login {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    border-radius: 20px;
}
.login_title{
    text-align: center;
}

/* ---------------------------------------------- */
/* navbar */
/* .navbar {
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
}

.smallnav1 {
    margin-left: 20px;
}

.smallnav2 {
    margin-right: 20px;
}

.btn_profile {
    width: fit-content;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: #E67E22;
    border-style: hidden;
}

.btn_profile:hover {
    background-color: #376786;
    cursor: pointer;
    scale: 1.25;
} */

/* p_home */
/* ---------------------------------------------------------------------------- */

/* main content */
.main_home {
    margin-left: 15px;
    margin-right: 35px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.ex1,
.ex2 {
    margin-top: 60px;
}

.ex2 {
    display: flex;
    justify-content: space-between;
}

.ghost,
.ghost_ex {
    width: fit-content;
    position: relative;
    color: black;
    user-select: none; /* Standard browsers */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.ghost {
    top: 20px;
    left: 20px;
}

.ghost_ex {
    height: fit-content;
    top: 85px;
    right: 30px;
    top: 10px;
    right: 20px;
}


.searchbar {
    border-style: hidden;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: 30px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_search {
    background-color: white;
    border-style: hidden;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_search:hover {
    background-color: gray;
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.categories {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block_event {
    overflow: hidden;
    width: 190px;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-decoration: none;
}

.small_pic{
    position: absolute;
    width: 186px;
    height: 296px;
    border-radius: 8px;
}
.card_content {
    padding: 10px;
    color: black;
    position: relative;
    bottom: 100%;
    width: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    height: 100%;
    backdrop-filter: blur(15px);
    user-select: none; /* Standard browsers */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}
.block_event:hover .card_content{
    bottom: 0;
    display: flex;
}

.border{
    border-radius: 5px;
    margin: 1px;
    width: 100%;
    text-decoration: none;
}
.short_description{
    height: 100px;
}
.smallbox{
    display: flex;
}

/* p_activity */
/* ------------------------------------------------------------------ */
.main_activity {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: grid;
}

.activity {
    min-height: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_register{
    background-color: white;
    border-style: hidden;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn_register:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.box1{
    background-color: red;
    display: flex;
    justify-content: center;
}